/* App.css */

.nav-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #2da800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #00b33c;
}

.active {
  background-color: #0b4f01;
  color: #ffffff;
}
